.font-style
  font-family: Poppins !important

.pointer
  cursor: pointer !important

.global-text-style
  font-family: Poppins

.global-bg-color
  background-color: #3d414aff !important

.global-text-color
  color: #081530 !important

.global-card-border
  border: 1px solid #E5E4E4 !important
  
.primary-bg-color
  background: #223345 !important

.card-bg-color
  background: #D6E7EE !important

.break-word
  word-break: break-word !important
